.body_container_home{
    /* background-color: black; */
    background-image: url('../../assets/nebula-galaxy.gif');
    /* background-repeat: repeat-; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex; 
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.body_container_content{
    color: white;
}