.header_container_home {
    background-color: #A461A1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo_header_home{
    max-width: 150px;
    max-height: 75px;
    min-width: 30px;
    min-height: 35px;
    margin: 5px;
}

.header_buttons_item{
    margin: 0 10px;
}