.footer_container_home{
    background-color: #A461A1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.footer_buton_item{
    margin: 10px 10px;
    
}

