*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Serif', serif;
}



@media (orientation: landscape) {
    .body-container {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    .body-container {
        flex-direction: column;
    }
}